extends layout

block content
  div(class="alert alert-info" role="alert" style="width: 30%;margin-left: 32%;margin-right: 32%")= title
  form(action="../menu")
    input(type="submit" value="Menu" class="btn btn-info" style="margin-left: 43%;margin-right:43%")